.card {
    display: flex;
    flex-direction: column;

    height: 100%;


    &__header {
        padding: 9px 18px;
        color: currentColor;
        font-size: 15px;
        font-family: var(--font-body);
        font-weight: 700;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__body {
        border: 2px solid currentColor;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        padding: 20px;

        &--title {
            font-family: var(--font-heading);
            font-size: calc(20px + (40 - 20) * ((100vw - 320px)/ (1440 - 320)));
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        &--stars {
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: var(--font-body);
            font-size: 16px;
        }

        &--desc {
            flex: 1;
            font-family: var(--font-body);
            font-size: 16px;
        }
    }


    &__img {
        display: block;

        img {
            width: 100%;
        }
    }
}