@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f9423a;
  --cream: #fff0e0;
  --black: #000;
  --white: #fff;
  --yellow: #ffdd00;
}
@font-face {
  font-family: "ASM";
  src: url("/fonts/ASM-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ASM";
  src: url("/fonts/ASM-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bravest";
  src: url("/fonts/Bravest.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "El Grosa Display";
  src: url("/fonts/ElGrosa-Display.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "El Grosa Round";
  src: url("/fonts/ElGrosa-Round.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oaxaca";
  src: url("/fonts/OaxacaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply m-0 box-border scroll-smooth border border-none p-0 antialiased;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply flex flex-col  overflow-x-hidden bg-color-cream font-body;
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    @apply align-middle;
  }

  img {
    @apply h-auto max-w-[100%];
  }

  a {
    @apply inline-block cursor-custom text-[inherit];
  }

  .btn {
    @apply bg-color-primary py-[.7em] px-[2.6em] text-center font-body text-[20px] font-bold uppercase leading-[1] text-color-white transition-links;
  }

  .btn.yellow {
    @apply bg-color-yellow hover:bg-color-primary;
  }

  .container {
    @apply w-full max-w-container px-[65px];
  }

  p {
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[1584px] px-10;
  }

  .section-title {
  }

  /* Block Link */
  .block-link {
    @apply relative [&_a]:after:absolute [&_a]:after:left-0 [&_a]:after:top-0 [&_a]:after:right-0 [&_a]:after:bottom-0 [&_a]:after:z-[3] [&_a]:after:h-full [&_a]:after:w-full [&_a]:after:content-[""];
  }

  .marquee {
    background-color: var(--cream);
    color: var(--primary);
    transform: perspective(1px) rotate(-2deg);
    position: absolute;
    bottom: 100%;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }

  .marquee::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 100%;
    border-top: 2px solid var(--cream);
    background-color: var(--cream);
    border-bottom: 2px solid var(--primary);
    z-index: -1;
  }

  .marquee::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 150%;
    height: 150%;
  }

  .marquee-item {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    animation: text-marquee 55s linear infinite;
    animation-duration: 45s;
  }

  .marquee-item span {
    @apply flex flex-[1_0_auto] items-center justify-center whitespace-nowrap border-l-2 border-solid border-color-primary px-[27px] py-[45px] font-marquee text-[40px] leading-[1.1];
  }
}

@layer utilities {
  @keyframes text-marquee {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}
